@model exercise.Models.Personel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Edit</h2>
@using (Html.BeginForm())
            {
    @Html.HiddenFor(x=>x.personelID)
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.personelName, "Personel Name")
                        <br />
                        <div class="col-md-4">
                            @Html.TextAreaFor(x => x.personelName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.personelName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.personelSalary, "Personel Salary")
                        <br />
                        <div class="col-md-4">
                            @Html.TextAreaFor(x => x.personelSalary, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.personelSalary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.branchID, "Branch Adress")
                        <br />
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.branchID, (List<SelectListItem>)ViewBag.veri)
                            @Html.ValidationMessageFor(x => x.branchID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <input type="submit" class="btn btn-success" value="Update" />
                    @Html.ActionLink("Back To List", "Index", null, new {@class="btn btn-secondary"})
                </div>
            }

