@model IEnumerable<exercise.Models.Personel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Type To Search By Personel Name</h2>
@using (Html.BeginForm())
            {
                @Html.TextBox("x")
    <input type="submit" class="btn btn-success" value="Search" />

            }
<table class="table table-danger">
    <thead>
        <tr>
            <th>Personel ID</th>
            <th>Personel Name</th>
            <th>Personel Salary</th>
            <th>Branch Adress</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.personelID</td>
                <td>@item.personelName</td>
                <td>@item.personelSalary</td>
                <td>@item.Branch.branchAdress</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { @id = item.personelID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { @id = item.personelID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
