@model exercise.Models.Book
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Create a Book</h2>
@using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(x => x.bookName, "Book Name")
                        <br />
                        <div class="col-md-4">
                            @Html.EditorFor(x => x.bookName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.bookWriter, "Book Writer")
                        <br />
                        <div class="col-md-4">
                            @Html.EditorFor(x => x.bookWriter, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.bookPrice, "Book Price")
                        <br />
                        <div class="col-md-4">
                            @Html.EditorFor(x => x.bookPrice, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.bookReleasedate, "Book Release Date")
                        <br />
                        <div class="col-md-4">
                            @Html.EditorFor(x => x.bookReleasedate, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.branchID, "Branch Adress")
                        <br />
                        <div class="col-md-4">
                            @Html.DropDownListFor(x => x.branchID, (List<SelectListItem>)ViewBag.data)
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success" value="Save" />
                    @Html.ActionLink("Back To List", "Index", null, new {@class="btn btn-secondary"})
                </div>
            }

