@model IEnumerable<exercise.Models.Book>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Type To Search By Book Name</h2>
<br />
@using (Html.BeginForm())
{
        @Html.TextBox("x")
        <input type="submit" class="btn btn-success" value="Search" />
}
<table class="table table-success">
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Book Writer</th>
            <th>Book Price</th>
            <th>Book Release Date</th>
            <th>Branch Adress</th>
            <th>Properties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.bookID</td>
                <td>@item.bookName</td>
                <td>@item.bookWriter</td>
                <td>@item.bookPrice</td>
                <td>@item.bookReleasedate</td>
                <td>@item.Branch.branchAdress</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { @id = item.bookID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { @id = item.bookID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
